[mysqld]
server_id = 4001
gtid_domain_id = 40001
binlog_format = ROW
log_bin = ON
log_slave_updates = ON
gtid_strict_mode = ON
expire_logs_days=7
binlog_row_image=FULL
# binlog_rows_query_log_events=ON # query의 원본도 확인